body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 1rem;
    text-align: center;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-nav {
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    border-radius: 20px;
    padding: 0.5rem 1rem;
    margin: 0 5px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-brand img {
    width: 50px; /* Adjust the width as desired */
    height: 50px; /* Adjust the height as desired */
}

main {
    margin-top: 80px; /* Adjust to ensure content starts below the fixed header */
    width: 100%;
}

h1, h2 {
    color: #4CAF50;
    text-align: center; /* Center-align text */
}

.card-header {
    text-align: center; /* Center-align text */
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px; /* Ensure forms are not too wide */
    margin: 0 auto;
    text-align: left; /* Left-align content within the form */
}

form div {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: .5rem;
}

input[type="text"], input[type="password"], input[type="date"], select {
    width: 100%;
    padding: .5rem;
    border: 1px solid #ddd;
    border-radius: 3px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: .75rem 1.5rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    border-top: 2px solid #45a049;
    margin-top: 2rem;
}
